.error-message-container {
  display: flex;
  justify-content: left;
}

.error-message {
  color: rgb(54, 54, 54);
  font-size: 15px;
  display: flex;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: #f6bf00;
  justify-content: center;
  align-items: center;
  width: 500px;
}
