.staff-members-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staff-members-job-section {
  margin-bottom: 40px;
}

.staff-members-job-title {
  font-size: 24px;
  color: rgb(83, 83, 83);
  margin-bottom: 15px;
  text-align: center;
}

.staff-members-job-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/* For 15.6 inch screen (2560x1440) at 150% */
@media screen and (max-width: 1708px) {
  .staff-members-page-container {
    padding: 35px 200px;
  }
}

/* For 27 inch screen (1920x1080) */
@media screen and (min-width: 1920px) {
  .staff-members-page-container {
    padding: 35px 300px;
  }
}
